version: "3.9"

services:
  web:
    build: .
    depends_on:
      - db
    ports:
      - '8080:8080'
    environment:
      DUMMY: 'dummy_text_default'

  db:
    image: mysql:8.0.27
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'manuel'
      MYSQL_PASSWORD: 'manuel'
      MYSQL_ROOT_PASSWORD: 'manuel'
    ports:
      - '3306:3306'
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d
      - data:/var/lib/mysql

  adminer:
    image: adminer:4.8.1
    restart: always
    ports:
      - '3000:8080'
    depends_on:
      - db

volumes:
  data: