<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::head(title='Actividad de aprendizaje 1')"></head>
<body>
<header th:replace="fragments/layout::header"></header>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" th:object="${movie}">
                <img alt="..." class="card-img-top" th:src="@{'https://image.tmdb.org/t/p/w300' + *{poster_path}}">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{title}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="*{original_title}"></h6>
                    <p class="card-text" th:text="*{overview}"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <h1>Reseña</h1>
            <div th:object="${review}">
                <p>Titulo: <span th:text="*{title}"></span></p>
                <p>Puntuación: <span th:text="*{rating}"></span></p>
                <p>Texto: <span th:text="*{text}"></span></p>
                <a th:href="@{/reviews/delete(id=*{id})}">Eliminar reseña</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/layout::footer"></footer>
</body>
</html>